body{
  
}

#menu{
    border: 1px solid black;
    max-width:200px;
}


header{
    background-image: url(https://i.pinimg.com/originals/78/5b/dd/785bdd265eaa41e2549660a3246e1ee2.jpg);
    background-size: contain;
    
    text-align: center;
    
   
}
