body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
}

.contenedor{
    padding: 32px 32px 8px 32px;
    border: 1px solid #363636;
    text-align: center;
    
  
}
input{
    color: white;
}
form{
    display:flex;
    flex-direction: column;
    gap: 6px;
    
    
    
}
h1{
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    padding-bottom: 32px;
}

button{
    margin-top: 6px;
    padding: 7px;
    border-radius:7px;
    color: white;
    background-color: #0069ac;
    cursor: pointer;


}


.crear{
    border: 1px solid #363636;
    text-align: center;
    width: 100%;
    
}

.inicio{
    color: #3579e2;
}
a{
    color: #0094f5;
    text-decoration: none;
}
main{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
input{
    background-color: #000000;
    border: 1px solid #363636;
    padding: 6px;
    border-radius: 5px;
}

#centro{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;

}
hr{
    border:1px solid #363636;
    background-color: #363636;
    padding: 0px 75px 0px 75px;
}
