/*.btn2{
    padding: 1px 1px 10px 10px;
  
}
.btn{
    padding: 10px 10px 1px 1px;

}
.contenedor{
   display: flex;
   padding: 20px 10px 20px 15px;
   max-width: 200px;
   border: 3px solid black;
   gap: 8px;
}

/*
Padre con dos hijos en display flex 
padding padre de 20px10px20px15px. 
gap 8px
el contenido hijo de la izquierda tiene que estar a la izquierda inferior
el contenido hijo lo opuesto

/

table{
    border: 2px solid;
    border-collapse: collapse;
}
td,
th{
    border: 2px solid;
    padding: 10px;
}
*/
body{
    display: flex;
    background-color: rgba(128, 128, 128, 0.216);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

form{
    border: 1px solid;
    display: flex;
    width: 250px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px 15px;
    gap: 8px;
    flex-direction: column;
    background-color: white;

}
h1{
    text-align: center;
    color: green;

}
button{
    cursor: pointer;
    background-color: green;
    color: white;
}

