/*h1{
    color: blueviolet;
}

#lista{
    color: red;
}

.parrafo{
    color: blue;
}
.card{
    background-color: #033268;
    color: white;

}

.nombres{
    font-size: 25px;

}
#edad {
    font-size: 15px;
}
 #correo {
    color: red;
    font-size: 20px;
 } */
 body{
   text-align: center;
 }
 h1{
    font-size: 40px;
  
 }
 header{
    background-color: #033268;
    color: white;
 }



 