*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
}
.fondo{
    background-image: url(https://www.esdesignbarcelona.com/sites/default/files/inline-images/Depositphotos_8878245_S.jpg);
background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.693);
    height: 100px;
   margin-bottom: 4px;
   
}
.titulo{
    text-align: center;
    font-size: 24px;
}
nav{
    background-color: rgba(0, 0, 0, 0.693);
    height: 30px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
   
}
.sticky{
    position: sticky;
    top: 0px;
}

li{
    padding: 4px;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.481);
    
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

  
}
a{
     text-decoration: none;
     
}
.amen{
    color: white;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px;
    
   
}
.texto{
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.693);
    padding: 10px;
    border-radius: 16px;
    margin: auto;
   
}
.boton{
    border: 2px solid rgba(255, 255, 255, 0.481);
    font-size: 16px;
    color: white;
    
}

.imagen{
   
   margin: auto;
   border: 12px solid rgba(0, 0, 0, 0.596);
   border-radius: 16px;
   

   
  
}

#about{
    height: 700px;
    padding: auto;
    font-size: 20px;


}

h2{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    background-color: rgba(75, 75, 75, 0.312);
     border-radius: 16px;
}


.contenido{
    
    text-align: center;
    background-color: rgba(75, 75, 75, 0.312);
    height: 80%;
    margin: 10px;
    border-radius: 16px;
}

.amon{
    font-size: 16px;
    color: black;
}

.lol{
    width: 300px;
    
}


footer{
    
    width: 100%;
    height: 400px;

    background-color: rgb(40, 39, 39);
    color: white;
   
}
.lal{
    margin: 30px;
    
}

p{
    text-align: center;
}